MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=change_me_to_a_long_random_password
MYSQL_ROOT_PASSWORD=change_me_to_another_long_random_password
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_to_a_long_random_password
